/* Estilos para a tabela */
.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

/* Estilos para as células do cabeçalho */
th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

/* Estilos para as células dos dados */
td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

/* Estilos para as células dos dados nas linhas ímpares */
tr:nth-child(odd) td {
    background-color: #f9f9f9;
}

/* Estilos para as células dos dados nas linhas pares */
tr:nth-child(even) td {
    background-color: #fff;
}

/* Estilos para a imagem do cartaz */
td img {
    max-width: 100px;
    height: auto;
}

@keyframes rotateCounterClockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.search-input {
    width: 200px;
}

@media (max-width: 576px) {
    .search-input {
        width: 100%;
    }
}
